
.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 0;
    margin-left: 250px;
    color: #515076;
}

.products-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-text {
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.button {
    background-color: #515076;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
}

.button.green {
    background-color:#2ecc71;
}

.font-1 {
    font-family: monospace, sans-serif;
}

    .cards {
        display: flex;
        gap: 24px; /*40*/
    }

.card {
     margin-left: 500px;
     display: greed;
     grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

