@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    color: #515076;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.price__word {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #515076;
}

.price__numbers {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #515076;
}

.product__description {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.product__subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #515076;
}

.product__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #515076;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px;
}

.product {
    width: 300px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s;
}

.product-bg {
    background-image: url("images/dandelion.png");
    background-repeat: no-repeat;
    background-position: left 160px top 0px;
    background-size: 800px 800px;
}

.product__compound-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.product__compound-list {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.active {
    background-color: aqua;
    color: white;
}

.active-2 {
    background-color: rgb(200, 255, 0);
    color: white;
}